/* *{
    background-color: rgb(102, 204, 102);
} */
.green{
    height: 70vh;
    width: 70vw;
    position: relative;
    /* border: 2px solid black; */
}
.input2{
    position: absolute;
    background-color: white;
    border-radius: 25px;
    border: none;
    height: 6%;
    width: 30%;
    float: left;
}
.input1{
    position: relative;
      background-color: white;
    border-radius: 25px;
    border: none;
    height: 6%;
    width: 30%;
    float:left;
}
.chavi{
    background-color: green;
    margin: 3%;
    border-radius: 25px;
    background-color:rgb(102, 153, 204) ;
    color: black;
    box-shadow: black;
}
.okbtn{
    height: 8vh;
    width: 11vw;
    background-color: rgb(144, 202, 249);
    position: absolute;
    bottom: 0vh;
    left: 29vw;
    
}