
.logo{
    height: 3%;
    width: 6%;
    float: left;
    margin:3.5%;
}
.flag{
    height: 80%;
    width: 60%;
    float: right;
    margin: 5%;   
}
.langbtn{
    height: 80%;
    width: 6%;
    float: right;
    /* border: 2px solid black;  */
    margin:3.5%;
}

.component{
    /* margin-top: 30%; */
    height: 70vh;
    width: 70vw;
    overflow-x: hidden;
    overflow-y: hidden !important;
    display: block;
    margin-top :15vh;
     padding-bottom: 50;
}