                                                                  .
<!-- <span class="label label-important"> בשל חפץ חשוד יתכנו שיבושים ועיכובים בזמני האוטובוסים.</span> -->
<img src="../../assets/לוגו.png" class="logo">

<div class="btn-group langbtn" >
    <!-- <button class="btn langbtn">
        
    </button> -->
    <button class="btn dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
        <img src="../../assets/אייקון ישראל.png" class="logo flag">
    </button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
      <li><a href="#">CSS</a></li>
      <li><a href="#">JavaScript</a></li>
    </ul>
</div>

<div class="container component">
    <router-outlet></router-outlet>
</div>